html {
  font-size: 62.5%;
}
:root {
  --fontSize-a: 1.8rem;
  --fontWeight-a: 300;
  --color-border: #e0e0e0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items:center; */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  position: relative;
  transition: all 0.5s 0.1s;
}
section {
  padding: 30px 15px;
}

/* Icons */

.icon-location {
  color: rgb(248, 79, 79);
  font-size: 2.3rem;
  display: flex;
  align-items: center;
  align-items: center;
  height: auto;
}
.footer i {
  font-size: 2rem;
}

/* HERO SECTION  */
/* --> Navigation */
nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;

  align-items: center;
}
.hero-section {
  max-width: 100%;
  min-height: 60vh;
  background-image: url("images/heroSectionBackground.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navBar__list-items {
  list-style: none;
  display: flex;
  align-items: center;
}
.navBar__item,
.navBar__icon-user,
.navBar__item-app {
  text-decoration: none;
  color: white;
  font-weight: var(--fontWeight-a);
  font-size: var(--fontSize-a);
  padding: 8px;
  margin: 0 20px 0 0;
  max-lines: 1;
}
.navBar__item-app {
  font-size: 1.4rem;
}
.navBar__icon-user {
  display: none;
  font-weight: var(--fontWeight-a);
  font-size: var(--fontSize-a);
  color: red;
}

@media screen and (max-width: 720px) {
  .navBar__icon-user {
    display: block;
  }
  .navBar__item {
    display: none;
  }
}
/* --> Input container */
.hero__logo {
  width: 300px;
}
.hero__input-container {
  width: 100%;
  max-width: 772px;
  background-color: white;
  display: flex;
  border-radius: 10px;
  align-items: center;
  padding: 0 10px;
  margin: 30px 0;
}
.hero__input-container-left {
  width: 35%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero__input-place,
.hero__input-dish {
  width: 100%;
  outline: none;
  border: none;
  padding: 1px 2px;
  background-color: white;
  display: inline-block;
  height: 5rem;
  font-size: 1.6rem;
}
.hero__input-container-right {
  width: 65%;
}
.hero__description {
  font-size: 3.6rem;
  color: white;
  text-align: center;
  font-weight: 400;
  margin: 30px 0px 0;
}
.hero-section > header {
  width: 100%;
  height: 72px;
  max-width: 1100px;
}
.hero-section > main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Container section BluePrint */

.container {
  margin: 3rem auto;
}

/* WE OFFER SECTION */

.we-offer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
}
.we-offer .card {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--color-border);
}
.we-offer .card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.we-offer .card h2 {
  padding: 10px 10px 0 10px;
  font-size: 20px;
  font-weight: 400;
}
.we-offer .card p {
  font-size: 13px;
  padding: 0 10px 20px 10px;
}
.we-offer .card:hover {
  transform: scale(1.05);
}

/* COLLECTIONS SECTION */

.collections h1 {
  font-weight: 500;
  font-size: 3rem;
}
.collections .sub-heading-container {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}
.sub-heading-container span:nth-child(2) {
  color: #ff7e8b;
  font-size: 13px;
}

.collections__card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
}
.collections__card-container .card {
  min-width: 240px;
  height: 300px;
  background-size: cover;
  position: relative;
  border-radius: 10px;
  background-position: center;
  margin: 3rem 0 0 0;
}
.card1 {
  background-image: url(images/collection1.jpg);
}
.card2 {
  background-image: url(images/collection2.jpg);
}
.card3 {
  background-image: url(images/collection3.jpg);
}
.card4 {
  background-image: url(images/collection4.jpg);
}
.overlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 85%
  );
  width: 100%;
  height: 100%;
  display: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
}
.collections__card-container .card .content {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  padding: 12px 16px;
  font-size: 14px;
}

/* Get App Section */

.get-app {
  max-width: 768px;
  margin: 3rem auto;
  display: flex;
}
.get-app .img-cont img {
  width: 250px;
}
.get-app__app-cont img {
  width: 137px;
  margin: 15px 0 0 0;
}

.get-app h1 {
  font-size: 40px;
  margin: 0 0 15px;
  font-weight: 500;
}
.get-app p,
.get-app label {
  font-size: 16px;
  line-height: 2;
  opacity: 0.8;
}
.get-app .get-app__radio-cont {
  width: 225px;
  display: flex;
  justify-content: space-between;
  margin: 25px 0 10px 0;
  align-content: center;
}
.get-app input[type="radio"] {
  accent-color: red;
}
.get-app label {
  margin-left: 5px;
}
.get-app__input-cont input[type="text"] {
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  padding: 13px 12px;
  display: inline-block;
  width: 70%;
  border-radius: 10px;
}
.get-app__input-cont input[type="submit"] {
  color: white;
  background-color: red;
  padding: 13px 12px;
  outline: 0px;
  border: 0.5px solid red;
  border-radius: 10px;
  font-size: 16px;
}
.get-app__input-cont input[type="text"]:focus {
  border-color: dodgerblue;
  outline: none;
}
.get-app__input-cont {
  display: flex;
  gap: 15px;
  margin: 10px 0 10px 0;
}
.content-cont {
  min-width: 400px;
}

@media screen and (max-width: 500px) {
  .get-app .img-cont {
    display: none;
  }
  .get-app .content-cont {
    min-width: 100%;
  }
  .get-app__input-cont input[type="text"] {
    width: 100%;
  }
  .get-app__input-cont {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .get-app {
    flex-direction: column;
  }
}

/* Country Section*/

.country {
  width: 100%;
}

.country-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 50px auto;
  max-width: 1100px;
  gap: 1.2rem;
  justify-content: center;
}
.country h1 {
  font-size: 3rem;
  text-align: center;
}
.country h2{
  font-size: 2rem;
  font-weight: 500;
}
.country .card {
  width: 100%;
  padding: 20px;
  flex-basis: 100%;
  border: 1px solid gray;

  border-radius: 10px;
  background-position: center;
}
.country .card:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}
.country i {
  position: absolute;
  top: 50%;
  right: 20px;
}
.country p {
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  .country .card {
    max-width: 30%;
  }
}
@media screen and (min-width: 800px) {
  .country .card {
    min-width: 30%;
  }
}

/* FOOTER */

.footer {
  width: 100%;
}
.foot-head img {
  width: 132px;
  height: 28px;
}
.foot-head span {
  font-size: 1.8rem;
  display: inline-block;
  opacity: 80%;
}
.foot-head {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.foot__drop-cont {
  display: flex;
  gap: 10px;
}
.footer__place-drop,
.footer__lang-drop {
  align-items: center;
  display: flex;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
}
.footer h6 {
  font-size: 16px;
  margin: 0 0 12px;
  font-weight: 500;
}
.footer a {
  font-size: 14px;
  margin: 5px 0;
  text-decoration: none;
  display: block;
  opacity: 0.7;
}
.footer a:hover {
  opacity: 1;
  color: rgb(48, 47, 47);
}
.foot-main {
  display: flex;
  width: 100%;
  gap: 5px;
  max-width: 1100px;
  flex-basis: 100%;
  margin: 30px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__link-container {
  width: 150px;
}
.footer__link-container img {
  width: 137px;
  margin: 10px 0;
}
.footer__top-sub-link-container {
  margin: 0 0 30px;
}
.footer .social-link-cont {
  display: flex;
  gap: 15px;
}
@media screen and (max-content: 768px) {
  .foot-main {
    flex-wrap: wrap;
    flex-basis: 100%;
  }
  .footer__link-container {
    width: 130px;
  }
  .footer span {
    font-size: 15px;
  }
  .foot-head i {
    font-size: 14px;
  }
}
@media screen and (max-width:450px) {
  .foot-head {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width:350px) {
  .foot__drop-cont{
    flex-direction:column;
    gap: 10px;
    justify-content:center;
  }
}
