<section class="hero-section">
    <header>
      <nav>
        <a href="#" class="navBar__item-app"
          ><i class="fa-solid fa-mobile-button"></i> Get the app</a
        >
        <ul class="navBar__list-items">
          <li><a href="#" class="navBar__item">Investor Relations</a></li>
          <li><a href="#" class="navBar__item">Add restaurant</a></li>
          <li><a href="#" class="navBar__item">Log in</a></li>
          <li><a href="#" class="navBar__item">Sign up</a></li>
          <li>
            <a href="#" class="navBar__icon-user"
              ><i class="fa-solid fa-user"></i
            ></a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <img src="/images/heroSectionLogo.png" alt="zomato-logo" class="hero__logo"/>
    <h1 class="hero__description">Discover the best food & drinks in Tiruppur</h1>
    <div class="hero__input-container">
      <div class="hero__input-container-left">
        <div><i class="fa-solid fa-location-dot icon-location"></i></div>
        <input type="text" class="hero__input-place" placeholder="Salem" />
      </div>
      <div class="hero__input-container-right">
        <input type="text" class="hero__input-dish" placeholder="Search for restaurant, cuisine or a dish"/>
      </div>
    </div>
    </main>
  </section>